In [24]:
import tensorflow as tf
from keras import layers 
import pandas as pd

In [25]:
vocab = ["a", "b", "c", "d"]
data = tf.constant([["a", "c", "d"], ["d", "z", "b"]])
layer = layers.StringLookup(vocabulary=vocab)
print(layer.get_vocabulary())
print(layer(data))

['[UNK]', 'a', 'b', 'c', 'd']
tf.Tensor(
[[1 3 4]
 [4 0 2]], shape=(2, 3), dtype=int64)

In [26]:
dataframe = pd.read_csv('../../data/feature_data.csv')
dataframe.head()

,gender,school,school_major,school_type,edu_work_status,work_status_detail,career_job1_1,career_job1_2,career_job1_3,career_job2_2,...,author_edu_work_status,author_work_year,entity_id,week_day,platform,pit_var,label,cvr_label,CES,pre_score
0,['其他'],['重庆邮电大学'],['电子科学与技术'],['一本'],[1],[1],['11227'],['11207'],['11043'],['<nan>'],...,[1],[4],['740002253360'],[1],['iOS'],[0],[1],[0],[1.0],[0.1892923]
1,['其他'],['门头沟学院'],['计算机科学与技术'],['其他'],[2],[1],['11226'],['11200'],['11003'],['<nan>'],...,[1],[3],['740002257785'],[1],['Android'],[0],[0],[0],[1.0],[0.36448196]
2,['其他'],['山东石油化工学院'],['信息与计算科学'],['其他'],[1],[2],['11229'],['11211'],['11081'],['11204'],...,[1],[4],['80001320069'],[1],['iOS'],[12],[1],[0],[1.0],[0.04540528]
3,['其他'],['浙江大学'],['机械设计制造及其自动化'],['985'],[1],[2],['11226'],['11200'],['11003'],['<nan>'],...,[1],[3],['740002255568'],[1],['Android'],[0],[0],[0],[1.0],[0.15175472]
4,['其他'],['中国海洋大学'],['软件工程'],['985'],[1],[1],['11226'],['11200'],['11022'],['<nan>'],...,[1],[3],['740002250307'],[1],['iOS'],[0],[1],[0],[1.0],[0.3342042]

In [27]:
labels = dataframe.pop('label')
ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
ds = ds.shuffle(buffer_size=len(dataframe))
ds = ds.batch(5)
ds = ds.prefetch(5)

[(train_features, label_batch)] = ds.take(1)
print('Every feature:', list(train_features.keys()))
print('A batch of school_type:', train_features['school_type'])
print('A batch of label:', label_batch )

Every feature: ['gender', 'school', 'school_major', 'school_type', 'edu_work_status', 'work_status_detail', 'career_job1_1', 'career_job1_2', 'career_job1_3', 'career_job2_2', 'career_job2_3', 'career_job3_2', 'career_job3_3', 'work_year', 'edu_level', 'hist_entity_id', 'max_len', 'comment_list_entity_id', 'comment_list_max_len', 'expo_not_click_entity_id', 'expo_not_click_max_len', 'short_term_companies', 'short_term_companies_weights', 'uid', 'reply_number', 'like_number', 'view_number', 'post_module', 'content_mode', 'circle_name', 'content_topic', 'topic_max_len', 'taxonomy1', 'taxonomy2', 'form', 'ctr', 'ctr_3', 'ctr_7', 'career_job_ctr', 'manual_career_job_1', 'manual_career_job_2', 'day_delta', 'company_keyword', 'company_keyword_max_len', 'skill_keyword', 'skill_keyword_max_len', 'title_keyword', 'title_keyword_max_len', 'author_uid', 'author_gender', 'author_career_job1_1', 'author_career_job1_2', 'author_career_job1_3', 'author_school', 'author_school_major', 'author_school_type', 'author_edu_level', 'author_edu_work_status', 'author_work_year', 'entity_id', 'week_day', 'platform', 'pit_var', 'cvr_label', 'CES', 'pre_score']
A batch of school_type: tf.Tensor(
[b"['211']" b"['\xe4\xb8\x80\xe6\x9c\xac']"
 b"['\xe6\xb5\xb7\xe5\xa4\x96']" b"['985']" b"['<nan>']"], shape=(5,), dtype=string)
A batch of label: tf.Tensor([b'[1]' b'[0]' b'[0]' b'[1]' b'[0]'], shape=(5,), dtype=string)

2024-06-26 12:16:09.699582: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence